# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.d
*.o
*.eep
*.hex
*.lss
*.xml
*.srec
*.map
*.elf
*.mk

################
## Atmel Studio
################

#Atmel Studio solution and user files
# config folder ignored 
# explanation: though necessary files live in the Config folder, they should be
# handled by the Atmel Software Framework Wizard/Explorer tools included
# with Atmel Studio, to ensure proper ASF modules have been loaded. Please read
# the included "V2X project setup" pdf for instructions on managing ASF modules.
V2X_Firmware/src/ASF/
V2X_Firmware/src/[Cc]onfig/
V2X_Firmware/[Rr]elease/
V2X_Firmware/[Dd]ebug/
V2X_Firmware/.vs/

*.atsuo
asf.h
*.hex
*.atsln
#atmel*.*

## Images
*.jpg
*.jpeg
*.JPG
*.gif
*.bmp
*.png

*.xslt

# ctags
tags

# Project Specific
V2X_Firmware/debug\.log
V2X_Firmware.old/

V2X_Firmware/atmel_devices_cdc.inf
V2X_Firmware/atmel_devices_cdc.cat
